.mute{
    display:'flex'
    
}
.rem{
    display:flex;
    font-size:16px;
    flex-wrap:wrap;
    align-items: center;

    /* margin:auto; */
}
.rope{
    height:'110px'
}
@media (max-width:767px){
    .rem{
        margin: auto;
    }
}